@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");
@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
/* Wanted Sans Static, Wanted Sans Variable*/

:root {
  --family: "Wanted Sans Variable";

  --radius-100: 8px;
  --radius-200: 12px;
  --radius-300: 16px;
  --radius-400: 24px;
  --radius-500: 28px;
  --radius-600: 32px;
  --radius-700: 40px;
  --radius-800: 48px;

  --spacing-50: 2px;
  --spacing-100: 4px;
  --spacing-150: 6px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-500: 20px;
  --spacing-550: 24px;
  --spacing-600: 28px;
  --spacing-700: 32px;
  --spacing-750: 36px;
  --spacing-800: 40px;
  --spacing-850: 48px;
  --spacing-900: 64px;
  --spacing-950: 72px;
  --spacing-1000: 80px;

  --basic-grade1: #fefeff;
  --basic-grade2: #f6f7fa;
  --basic-grade3: #ebecf5;
  --basic-grade4: #d8dae5;
  --basic-grade5: #adb0c2;
  --basic-grade6: #8d90a0;
  --basic-grade7: #73768a;
  --basic-grade8: #555869;
  --basic-grade9: #3d3f4a;

  --solid-red: #ff4035;
  --solid-orange: #ff9a05;
  --solid-yellow: #f5c905;
  --solid-green: #32cc58;
  --solid-blue: #057fff;
  --solid-indigo: #5b59de;
  --solid-purple: #b756e8;
  --solid-pink: #ff325a;
  --solid-brown: #a78963;
  --solid-black: #000000;
  --solid-white: #ffffff;

  --solid-translucent-red: #ff40351a;
  --solid-translucent-orange: #ff9a051a;
  --solid-translucent-yellow: #f5c9051a;
  --solid-translucent-green: #32cc581a;
  --solid-translucent-blue: #057fff1a;
  --solid-translucent-indigo: #5b59de1a;
  --solid-translucent-purple: #b756e81a;
  --solid-translucent-pink: #ff325a1a;
  --solid-translucent-brown: #a789631a;

  --core-status-negative: #ff4035;
  --core-status-warning: #f5c905;
  --core-status-positive: #32cc58;
  --core-status-accent: #e83c77;
  --core-status-accent_translucent: #e83c771a;

  --content-standard-primary: #202128;
  --content-standard-secondary: #202128b3;
  --content-standard-teritary: #20212880;
  --content-standard-quaternary: #2021284d;

  --line-divider: #797b8a29;
  --line-outline: #797b8a1f;

  --background-standard-primary: #ffffff;
  --background-standard-secondary: #f6f6fa;

  --component-fill-standard-primary: #fefeff;
  --component-fill-standard-secondary: #fafafa;
  --component-fill-standard-teritary: #fefeff;

  --component-transculent-primary: #484f8a29;
  --component-transculent-secondary: #484f8a14;
  --component-transculent-teritary: #484f8a0f;

  --component-interactive-hover: #20212814;
  --component-interactive-focus: #2021281f;
  --component-interactive-pressed: #20212829;

  --calendar-exam: #5b59de;
  --calendar-home: #32cc58;
  --calendar-event: #f5c905;
  --calendar-stay: #ff4035;
  --calendar-vacation: #057fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grayscale-100: #1c1f1f;
    --grayscale-200: #333738;
    --grayscale-300: #4b5152;
    --grayscale-400: #626a6b;
    --grayscale-500: #808989;
    --grayscale-600: #b4b9b9;
    --grayscale-700: #dadddd;
    --grayscale-800: #eaebeb;
    --grayscale-900: #f4f5f5;
    --grayscale-1000: #fdfefe;
    --primary-brand: #2ea4ab;
    --primary-negative: #d76263;
  }
}
* {
  box-sizing: border-box;
  user-select: none;

  white-space: nowrap;
  text-overflow: ellipsis;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--basic-grade4);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid var(--basic-grade1);
}
*::-webkit-scrollbar-track {
  background-color: var(--basic-grade1);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;

  background-color: #ebecf5;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

.Toastify__close-button {
  display: none;
}
.Toastify__toast {
  padding: 16px 20px !important;
}
.Toastify__toast-body {
  padding: 0 !important;
}

.ant-radio-checked .ant-radio-inner {
  background-color: var(--core-status-accent) !important;
  border-color: var(--core-status-accent) !important;
}
.ant-radio:hover .ant-radio-inner .ant-radio-wrapper .ant-radio-wrapper:hover {
  border-color: var(--core-status-accent) !important;
}
